*{
    box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  
body{
   
    padding-top:40px;
    padding-bottom:40px;
    background: gainsboro;    
  
}
#container{
    background-color: white;
    width:50%;
    margin:0 auto;
    /* height: 60vh; */
    min-width: 460px;
    /* border:3px dotted black; */    
    padding: 1px;
}

form{
    display: grid;
    grid-gap:2px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

h1{
    color:gray;
    text-align: center;
    width: 100%;
}

#heading{
    border-bottom:1px solid lightgray ;
    height:50px;
           
}

.sub-container:hover{
    background-color: #F5F7F8;
}

.sub-container{
    height: 50px;
    border-bottom:1px solid lightgray ;
}

.sub-container label{

   font-size:small;
   font-weight: bold;
   padding-left: 5px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#sub-container1,#sub-container4{
    grid-column: span 2;
    height:60px;    
}

#sub-container2{
  
    border-right: 1px solid lightgray;
}


input{
    background:none;
    box-shadow:none;
    border:none;
    width:100%; 
    font-size: 13px;     
    outline: 0px;  
    padding-left: 5px;

}

#category:focus{
    outline: none;
    border:none;
    /* width: 100%; */
    
}

a{
    text-decoration: none;
    color:inherit;
}

select#category{
    box-shadow:none;
    border:none;
    box-shadow: none;
    background: none;
    width:100%;
     
}

#category option{
    padding: 10px;
}

button{
    width:40%;
    height:50px;
    font-size:medium;
    font-weight: bold;
    color: white;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

#sub-container4{
    display: flex;
    justify-content: space-evenly;
}

#btn1{
    background-color:#444444;
}

#btn2{
    width:40%;
    height:50px;
    font-size:medium;
    font-weight: bold;
    color: white;
    border: none;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 13px;
    background-color: #EE351E;
}


#btn2 a{
    display: block;
    height: 100%;
    width: 100%;
}

#list-container{
    width: 100%;
    padding-bottom: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border:none;
     /* border: 1px solid #e5e5e5; */
  }
  ul li {
    padding: 10px;
    /* padding-left: 0; */
    display: grid;
     grid-template-columns: repeat(6,1fr);
     grid-template-rows: repeat(2,1fr);
  }
  ul li:hover {
    background: gainsboro;
  }
  #list li a label input {
    padding: 0;
    height: 20px;
    width: 20px;
    margin-bottom: 0;
   
    margin-top: 6px;
    /* display: none; */
    cursor: pointer;


  }
  
  #list li a {
    /* position: relative; */
    cursor: pointer;
    grid-column: span 4;
  }
  
  

  #list li a label{
      font-size: large;
      cursor: pointer;
      
  }

  #list li label span{
      vertical-align: top;
      padding-left: 2px;
  }

  #list li label input:checked + span {
    text-decoration: line-through;
  } 

  .d-delete{
    grid-row: span 2;
    text-align: right;
  }

  .delete {
    padding: 5px 0px;
    border-radius: 3px;
    font-size: 25px;
    color: red;
      
      
  }
  .delete:hover {
    background: #f2f2f2;
    cursor: pointer;
  }
  
  .d-category{
      grid-column: span 1;
      text-align: center;
      grid-row: span 2;
      /* vertical-align: middle; */
      padding:5px ;
      padding-top:15px;
      background-color:yellowgreen;
     
  }
  
  .invisible{
      background-color: transparent;
  }

  .d-calender{
      grid-column: span 3;
      margin-left:9%;     
      color:#6f859b;
      font-size: small;
  }

  @media only screen and (max-width: 1200px) {
     .d-calender{
        margin-left:11%;
    }
  }

  #toast {
    position: absolute;
      bottom: 27px;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      display: none;
  }
  .toast-error {
    background: #ff5a5a;
  }
  .toast-success {
    background: #8bc34a;
  }



